.container {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.layout {
		display: flex;
		height: calc(100% - 50px);

		.side-nav {
			display: flex;
			flex: 0 0 15%;
			margin-right: 1rem;
			border-right: 1px solid #c1c1c1;
		}

		.flow-chart {
			flex: 1;
		}
	}
}

.create-flowy, .block {
	background: lightblue;
	padding: 1em;
	border-radius: 1em;
	display: inline-block;
}
  
.create-flowy:hover, .block:hover {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37)
}